{% extends "layout.html" %}
{% block body %} 

<form action="{{ url_for('new_match') }}" method=post class=add-entry>
    <dl>
          
        <dt>J1 Equipe 1:</dt>
        <dd><input type=integer size=30 name=id_player11></dd>
        
        <dt>J2 Equipe 1:</dt>
        <dd><input type=integer size=30 name=id_player12></dd>
        
        <dt>J1 Equipe 2:</dt>
        <dd><input type=integer size=30 name=id_player21></dd>
        
        <dt>J2 Equipe 2:</dt>
        <dd><input type=integer size=30 name=id_player22></dd>
        
        <dt>Score Equipe 1:</dt>
        <dd><input type=integer size=30 name=score_e1></dd>
        
        <dt>Score Equipe 2:</dt>
        <dd><input type=integer size=30 name=score_e2 ></dd>
        
        <dd><input type=submit value=Valider></dd>
    </dl>
</form>

{% endblock %}
