{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block body %} 

<h1>Matchs</h1>
{% for match in matchs %}
<article>
        <h2>
            <time datetime ="{{ match.date }}">{{ match.date.strftime("%Y-%m-%d %H:%M") }}</time>
        </h2>
        <section>
            <h3>{{ match.score_team_1 }}</h3>
            <figure>
                <img src={{ get_gravatar_url(match.team_1_player_1.email) }}>
                <figcaption>
                    <a href="{{ url_for('profile', id_player=match.team_1_player_1.id_user) }}">{{ match.team_1_player_1.get_full_name() }}</a>
                </figcaption>
            </figure>
            {% if match.team_1_player_2 %}
            <figure>
                <img src={{ get_gravatar_url(match.team_1_player_2.email) }}>
                <figcaption>
                    <a href="{{ url_for('profile', id_player=match.team_1_player_2.id_user) }}">{{ match.team_1_player_2.get_full_name() }}</a>
                </figcaption>
            </figure>
            {% endif %}
        <section>
        </section>
            <h3>{{ match.score_team_2 }}</h3>
            <figure>
                <img src={{ get_gravatar_url(match.team_2_player_1.email) }}>
                <figcaption>
                    <a href="{{ url_for('profile', id_player=match.team_2_player_1.id_user) }}">{{ match.team_2_player_1.get_full_name() }}</a>
                </figcaption>
            </figure>
            {% if match.team_2_player_2 %}
            <figure>
                <img src={{ get_gravatar_url(match.team_2_player_2.email) }}>
                <figcaption>
                    <a href="{{ url_for('profile', id_player=match.team_2_player_2.id_user) }}">{{ match.team_2_player_2.get_full_name() }}</a>
                </figcaption>
            </figure>
            {% endif %}
        </section>
</article>
{% else %}
There is no match yet !
{% endfor %}

{% endblock %}
