{% extends "layout.html" %}
{% block body %} 

<h1>Matchs</h1>
{% for match in matchs %}
<article>
        <h2>
            <time datetime ="{{match.date}}">{{match.date}}</time>
        </h2>
        <section>
            <h3>{{match.score_e1}}</h3>
            <figure>
                <img src={{get_gravatar_url(match.player11.photo)}}>
                <figcaption>
                    {{match.player11.get_full_name()}}
                </figcaption>
            </figure>
            {% if match.player12 %}
            <figure>
                <img src={{get_gravatar_url(match.player12.photo)}}>
                <figcaption>
                    {{match.player12.get_full_name()}}
                </figcaption>
            </figure>
            {% endif %}
        <section>
        </section>
            <h3>{{match.score_e2}}</h3>
            <figure>
                <img src={{get_gravatar_url(match.player21.photo)}}>
                <figcaption>
                    {{match.player21.get_full_name()}}
                </figcaption>
            </figure>
            {% if match.player22 %}
            <figure>
                <img src={{get_gravatar_url(match.player22.photo)}}>
                <figcaption>
                    {{match.player22.get_full_name()}}
                </figcaption>
            </figure>
            {% endif %}
        </section>
</article>
{% else %}
There is no matches yet !
{% endfor %}

{% endblock %}
