{% extends "layout.html" %}
{% block body %} 



<article>
    <header>
        <h2>{{user.get_full_name()}}</h2>
    </header>
    
    <section>
        <p><img src="{{get_gravatar_url(user.photo)}}"></p>
    </section>
    
    {% if user.number_of_match != 0 %}
    
    <section>
        <p><b>Elo</b> : {{user.ranking}}</p>
        <p><b>Victories :</b>  {{user.nb_victories}}</p>   
        <p><b>Defeats :</b> {{user.nb_defeats}}</p>
        
        <p>
            <b>Ratio :</b> {{100*(user.nb_victories/user.number_of_match)| round(2)}}
           <img src="{{ url_for('svg_victory', id_player=user.id_user)}}"></img>
        </p>
    </section>
    
    {% else %}
    
    <section>
        <p> Hasn't played yet.</p>
    </section>
    
    {% endif %}
    
    <section>
        <p>
            <b>Best Teammate(s) : </b>
            {% for user in best_teammate %}
            {{user.name}}
            {{user.id_user}}
            {% else %}
            No best Teammate.
            {% endfor %}
        </p>
        
        <p>
            <b>Worst Teammate(s) : </b>
            {% for user in worst_teammate %}
            {{user.name}}
            {{user.id_user}}
            {% else %}
            No Worst Teammate.
            {% endfor %}
        </p>
        <p>
            <b>Nemesis : </b>
            {% for user in nemesis %}
            {{user.name}}
            {{user.id_user}}
            {% else %}
            No nemesis.
            {% endfor %}
        </p>
    </section>
    
    <section>
        <h1>Matchs played</h1>
        {% for match in matchs %}
        <article>
                <h2>
                    <time datetime ="{{match.date}}">{{match.date}}</time>
                </h2>
                <section>
                    <h3>{{match.score_e1}}</h3>
                    <figure>
                        <img src={{get_gravatar_url(match.player11.photo)}}>
                        <figcaption>
                            <a href="{{ url_for('profile', id_player=match.player11.id_user)}}">{{match.player11.get_full_name()}}</a>
                        </figcaption>
                    </figure>
                    {% if match.player12 %}
                    <figure>
                        <img src={{get_gravatar_url(match.player12.photo)}}>
                        <figcaption>
                            <a href="{{ url_for('profile', id_player=match.player12.id_user)}}">{{match.player12.get_full_name()}}</a>
                        </figcaption>
                    </figure>
                    {% endif %}
                <section>
                </section>
                    <h3>{{match.score_e2}}</h3>
                    <figure>
                        <img src={{get_gravatar_url(match.player21.photo)}}>
                        <figcaption>
                            <a href="{{ url_for('profile', id_player=match.player21.id_user)}}">{{match.player21.get_full_name()}}</a>
                        </figcaption>
                    </figure>
                    {% if match.player22 %}
                    <figure>
                        <img src={{get_gravatar_url(match.player22.photo)}}>
                        <figcaption>
                            <a href="{{ url_for('profile', id_player=match.player22.id_user)}}">{{match.player22.get_full_name()}}</a>
                        </figcaption>
                    </figure>
                    {% endif %}
                </section>
        </article>
        {% endfor %}
    </section>
</article>


{% endblock %}
