{% extends "layout.html" %}
{% block body %} 

<h1>Ranking</h1>

<table>
{% for user in users %}
<tr>
    <th>
        <figure>
            <img src={{user.get_photo()}}>
            <figcaption>
                
                <h2>
                    {{loop.index}}
                </h2>
                
                <h3>
                    {{user.get_full_name()}}
                </h3>
                
                {% if user.get_nickname() %}
                <h4>
                    {{user.get_nickname()}}
                </h4>
                {% endif %}
                
                {% if user.get_number_of_matchs() != 0 %}
                <h4>
                    {{user.get_nb_victories()}} 
                    
                    {% if user.get_nb_victories()==1 %}
                        Victory
                    {% else %}
                        Victories
                    {% endif %}
                </h4>
                
                
                <h4>
                    
                    {{user.get_nb_defeats()}}
                    
                    {% if user.get_nb_defeats()==1 %}
                        Defeat
                    {% else %}
                        Defeats
                    {% endif %}
                </h4>
                
                
                <h4>
                    Ratio : {{(user.get_nb_victories()/user.get_number_of_matchs())*100}} %
                </h4>
                
                {% else %}
                <h4>
                    Hasn't played yet
                </h4>
                
                {% endif %}
                
            </figcaption>
        </figure>
    </th>
    <th>
        {{user.get_ranking()}}
    </th>
    
    <th>

    </th>
    
    <th>

    </th>
    
    <th>

    </th>

        
</tr>
{% else %}
There is no scores yet ! 
{% endfor %}
</table>

{% endblock %}
