{% extends "layout.html" %}
{% block body %} 

<h1>Ranking</h1>

<table>
{% for user in users %}
<tr>
    <th>
        <figure>
            <img src={{user.get_photo()}}>
            <figcaption>
                <h2>
                    {{loop.index}}
                </h2>
                <h3>
                    {{user.get_full_name()}}
                </h3>
                {% if user.get_nickname() %}
                <h4>
                    {{user.get_nickname()}}
                </h4>
                {% endif %}
            </figcaption>
        </figure>
    </th>
    <th>
        {{user.get_ranking()}}
    </th>
</tr>
{% else %}
There is no scores yet ! 
{% endfor %}
</table>

{% endblock %}
