{% extends "layout.html" %}
{% block body %} 

<form action="{{ url_for('tournament') }}" method=post class=add-entry>
    
    <select size={{users|length}} name="selectionField" multiple="yes" >
    {% for user in users %}
      <option value={{user.id_user}} >{{user.get_full_name()}}</option>
    {% endfor %}
    </select>    
    <input type=submit value='Create Tournament'>
    
</form>

<section>
    {% for (team1,team2) in tournament %}
    <ul>
        <li>
            <figure>
                <img src={{get_gravatar_url(team1[0].photo)}}>
                <figcaption>
                    {{team1[0].get_full_name()}}
                </figcaption>
                <h3>{{team1[0].ranking}}</h3>
                <img src={{get_gravatar_url(team1[1].photo)}}>
                <figcaption>
                    {{team1[1].get_full_name()}}
                </figcaption>
                <h3>{{team1[1].ranking}}</h3>
            </figure>
        </li>
        
        <li>
            <figure>
                <img src={{get_gravatar_url(team2[0].photo)}}>
                <figcaption>
                    {{team2[0].get_full_name()}}
                </figcaption>
                <h3>{{team2[0].ranking}}</h3>
                <img src={{get_gravatar_url(team2[1].photo)}}>
                <figcaption>
                    {{team2[1].get_full_name()}}
                </figcaption>
                <h3>{{team2[1].ranking}}</h3>
            </figure>
        </li>
    </ul>
    {% endfor %}
</section>

{% endblock %}