
<form action="{{ url_for('tournament') }}" method=post class=add-entry>
    
    {% for i in range(nb_select) %}      
     <select name=id_player{{loop.index}}>
    {% for user in users %}
        <option value = {{user.id_user}}> {{user.name + ' ' + user.surname}} </option>
    {% endfor %}
    </select>
    {% endfor %}
    <a href="/addOneTournament">Add a player</a>
    
    <input type=submit value='Create Tournament'>
    
    <ul>
    {% for (team1,team2) in tournament %}
    <li>
    <ul>
        <li>
            <figure>
                <img src={{team1[0].photo}}>
                <figcaption>
                    {{team1[0].get_full_name()}}
                </figcaption>
                <h3>{{team1[0].ranking}}</h3>
                <img src={{team1[1].photo}}>
                <figcaption>
                    {{team1[1].get_full_name()}}
                </figcaption>
                <h3>{{team1[1].ranking}}</h3>
            </figure>
        </li>
        
        <li>
            <figure>
                <img src={{team2[0].photo}}>
                <figcaption>
                    {{team2[0].get_full_name()}}
                </figcaption>
                <h3>{{team2[0].ranking}}</h3>
                <img src={{team2[1].photo}}>
                <figcaption>
                    {{team2[1].get_full_name()}}
                </figcaption>
                <h3>{{team2[1].ranking}}</h3>
            </figure>
        </li>
    </ul>
    </li>
    {% endfor %}
    </ul>

</form>
