{% extends "layout.html" %}
{% block body %} 


<main>
  {{ form }}
</main>

<section>
    {% for (team1,team2) in tournament %}
    <ul>
        <table>
            <figure>
                <tr>
                    <td>
                        <img src={{get_gravatar_url(team1[0].photo)}}>
                        <figcaption>
                            {{team1[0].get_full_name()}}
                        </figcaption>
                    </td>
                    <td>
                        <img src={{get_gravatar_url(team1[1].photo)}}>
                        <figcaption>
                            {{team1[1].get_full_name()}}
                        </figcaption>
                    </td>
                </tr>
                
                <tr>
                    <td>{{team1[0].ranking}}</td>
                    <td>{{team1[1].ranking}}</td>
                </tr>
                
            </figure>
                
            <figure>
                <tr>
                    <td>
                        <img src={{get_gravatar_url(team2[0].photo)}}>
                        <figcaption>
                            {{team2[0].get_full_name()}}
                        </figcaption>
                    </td>
                    <td>
                        <img src={{get_gravatar_url(team2[1].photo)}}>
                        <figcaption>
                            {{team2[1].get_full_name()}}
                        </figcaption>
                    </td>
                </tr>
                
                <tr>
                    <td>{{team2[0].ranking}}</td>
                    <td>{{team2[1].ranking}}</td>
                </tr>
                
            </figure>
        </table>
    </ul>
    {% endfor %}
</section>

{% endblock %}
